* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    height: 100vh;
    background-color: rgb(26, 24, 24);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.circle {
    border-radius: 50%;
    max-width: 100px;
    height: 100px;
}

.red {
    background-color: rgb(183, 16, 16);
    margin-top: 70px;
    margin-left: 70px;
}

.aqua {
    background-color: rgb(41, 145, 145);
    margin-top: 130px;
    margin-left: 100px;
}

.yellow {
    background-color: rgb(167, 121, 42);
    margin-top: 170px;
    margin-left: 130px;
}

.lightblue {
    background-color: rgb(74, 106, 174);
    margin-top: 20px;
    margin-left: 20px;
}

.lightpurple {
    background-color: rgb(114, 43, 133);
    margin-top: 70px;
    margin-left: 30px;
}

.universalgreen {
    background-color: rgb(21, 103, 21);
    margin-top: 120px;
    margin-left: 50px;
}